*
!.gitignore
!nvim
!nvim/**/*
!waybar
!waybar/**/*
!hypr
!hypr/**/*
!zsh
!zsh/**/*
zsh/.zcompdump-ermkaovich-manjaro-5.9
zsh/.zcompdump-ermkaovich-manjaro-5.9.zwc
!rofi
!rofi/**/*
~thefuck/settings.py
