*
!.gitignore
!nvim
!nvim/**/*
!waybar
!waybar/**/*
waybar/style.css
!hypr
!hypr/**/*
!zsh
!zsh/**/*
zsh/.zcompdump-ermkaovich-manjaro-5.9
zsh/.zcompdump-ermkaovich-manjaro-5.9.zwc
!rofi
!rofi/**/*
rofi/.current_wallpaper
rofi/*.rasi
!Kvantum
!Kvantum/**/*
~thefuck/settings.py
